body{

  font-family: arial;
}

form{
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 250px;
  padding: 15px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

input[type="submit"]{
  margin-top: 10px;
}

label{
  margin-top: 7px;
}

.contact__list{

  margin: 30px auto;
  width: 280px;
}

h2{
  text-align: center;
  
}